:root{
    --main-bg-color : #161426;
    --light-color : #983BBF;
    --dark-color : #262240;
    --middle-color : #5C3973;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-bg-color);
}

header{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: gray;
    font-weight: 700px;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding:  6px 15px;
    color: gray;
}

header ul li a:hover {
    background-color: gray;
    color: aliceblue;
    border-radius: 10px;
}

.about{
    display: flex;
    justify-content: center;
    align-content: space-between;
    min-height: 200px;
    background-color: var(--dark-color);
}

.about div {
    width: 500px;
    padding: 20px 20px;
    color: antiquewhite;
}

.about .text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects {
    display: flex;
    justify-content: center;
    align-content: space-between;
    min-height: 200px;
    background-color: var(--main-bg-color);
    flex-wrap: wrap;
}

.projects .card{
    height: 230px;
    width: 350px;
    padding: 20px 35px;
    background-color: var(--dark-color);
    border-radius: 15px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}

.projects .card h3{
    color: rgb(255, 255, 255);
}

.projects .card p{
    color: rgb(198, 201, 201);
    margin-bottom: 20px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .card .button{
    text-decoration: none;
    color: rgb(219, 223, 221);
    background-color: var(--middle-color);
    border: 2px solid transparent;
    border-radius: 10px;
    font-weight: bold;
    padding: 9px 22px;
    transition:  .4s;
}

.projects .card .button:hover{
    background-color: var(--light-color);
    border: 2px solid var(--middle-color);
}



